body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#success-message {
  margin-top: 15px;
}

.svgicon {
  color: gray;
}

.svgicon:hover {
  color: black;
  transform: scale(1.5);
}

.mainPicture {
  filter: grayscale(80%);
  -webkit-filter: grayscale(80%);
  opacity:0.5;
  transition: 1s ease;
}

.mainPicture:hover {
  filter: grayscale(0%);
  filter: gray;
  -webkit-filter: grayscale(0%);
  filter: none;
  opacity:1;
  transition: 1s ease;
}

.mainpageBotton {
  background-color: black;
  color: #fcba03;
}

.navebarMain {
  background-color: #fcba03;

}

